<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Kino King</title>
    <style>
        h1 {text-align: center; color: yellow;}
        h2 {background-color: darkred; color: yellow}
        html {background-color: darkred;}
        fieldset {background-color: burlywood; border-color: black; opacity: 80%;}
    </style>
</head>

<body>
    <h1>Kino King</h1>

    <fieldset>
        <legend><h2>My Reviews</h2></legend>
        <ul>
            <li>To make a review: <a href="/review">Post Review</a></li>
            <li>To delete a review: <a href="/delete">Delete Review</a></li>
        </ul>
    </fieldset>
    <fieldset>
        <legend><h2>Review Database</h2></legend>
        <ul>
            <li>To find a review: <a href="/movie">Search Reviews by Film</a></li>
            <li>To search top movies: <a href="/topMovies">Films by Score</a></li>
        </ul>
</fieldset>
</body>

</html>