<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Find Movie</title>
	<style>
        h2 {background-color: darkred; color: yellow}
        html {background-color: darkred;}
        fieldset {
            background-color: burlywood;
            border-color: black;
            opacity: 80%;
            padding-top: 0px;
            width: fit-content;
            margin: auto;
            font-size: 1.25rem;
        }
		hr {border-color: brown;}
		#home {text-align: center;}
		a:link {color: yellow;}
		a:visited {color: darkorange;}
    </style>
</head>

<body>
	<form action="/findReview" method="post" >
		<fieldset>
			<label><strong>Film Title:</strong> <input type="text" name="title"></label>
			<input type="reset" />
			<input type="submit" value="Find Reviews"/>
		</fieldset>

		<br>

	</form>
    
    <hr>
    <div id="home"><a href="/">HOME</a></div>
</body>

</html>
