<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Submit Review</title>
	<style>
        h2 {background-color: darkred; color: yellow}
        html {background-color: darkred;}
        fieldset {
            background-color: burlywood;
            border-color: black;
            opacity: 80%;
            padding-top: 0px;
            width: fit-content;
            margin: auto;
            font-size: 1.25rem;
        }
		#score {width: 1.5rem;}
		hr {border-color: brown;}
		#home {text-align: center;}
		a:link {color: yellow;}
		a:visited {color: darkorange;}
    </style>
</head>

<body>
	<form action="/confirmation" method="post" onsubmit="return confirm('Are you sure you want to submit your review?')">
		<fieldset>
			<legend><h2>&nbsp;Submit Review&nbsp;</h2></legend>
			<label><strong>Reviewer Name:</strong> <input type="text" name="name"/></label><br>
			<label><strong>Film Title:</strong> <input type="text" name="title"></label>
            <label><strong>Score:</strong> <input id="score" type="text" name="score"/></label><br><br>
			<label><strong>Review</strong></label><br>
            <textarea rows="5" cols="80" name="review"></textarea><br><br>
			<input type="reset" />
			<input type="submit" value="Submit Review"/>
		</fieldset>

		<br>

	</form>
    
    <hr>
    <div id="home"><a href="/">HOME</a></div>
</body>

</html>
