<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Find Movie</title>
	<style>
        h1,h3 {background-color: darkred; color: yellow}
        html {background-color: darkred;}
        fieldset {
            background-color: burlywood;
            border-color: black;
            opacity: 80%;
            padding-top: 0px;
            width: fit-content;
            margin: auto;
            font-size: 1.25rem;
        }
		hr {border-color: brown;}
		#home {text-align: center;}
		a:link {color: yellow;}
		a:visited {color: darkorange;}
    </style>
</head>

<body>
        <h1>Success</h1>
		<h3>Thank you for contributing to Kino King. You made the <%-count%> review.</h2>

		<br>

    
    <hr>
    <div id="home"><a href="/">HOME</a></div>
</body>

</html>
